<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737619465503-mb9puchhpebstgb08cnels3vcd6vlo4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737619465503-mb9puchhpebstgb08cnels3vcd6vlo4e</string>
	<key>API_KEY</key>
	<string>AIzaSyBx278MiN6Wr7pIIJZEFFRHbRqLiX-5rRk</string>
	<key>GCM_SENDER_ID</key>
	<string>737619465503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChatApp.www.https.E-Commerce</string>
	<key>PROJECT_ID</key>
	<string>e-richtide</string>
	<key>STORAGE_BUCKET</key>
	<string>e-richtide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737619465503:ios:09927eb257077d8c0e0c2a</string>
</dict>
</plist>